/* Colors */
$blue: #0000F8;
$blue-light: rgb(138, 138, 255);
$gray-dark: #3B3845;
$gray-md: #9090a4;
$gray-light: #c2c2e3;
$black: #0d0d24;
$white: #F5F1F6;

/* Fonts */
$font-family-main: 'Archivo Black', sans-serif;
$font-family-secondary: 'Roboto', sans-serif;
$font-size-base: 1rem;
$font-size-xs: 0.675rem;
$font-size-sm: 0.875rem;
$font-size-md: 1.25rem;
$font-size-lg: 1.5rem;
$font-size-xl: 2rem;
$font-size-xxl: 2.2dvw;
$font-size-max: 4dvw;
$font-size-mega: 8dvw;

/* Border-radius */
$br-xs: 0.15rem;
$br-sm: 0.3rem;
$br-md: 0.6rem;
$br-lg: 1.2rem;

/* Spacing */
$spacing-xxs: 0.25rem;
$spacing-xs: 0.5rem;
$spacing-sm: 1rem;
$spacing-md: 2rem;
$spacing-lg: 4rem;
$spacing-xl: 8rem;
$spacing-xxl: 16rem;

/* Positioning */
$p-desktop: 1rem;
$p-tablet: 0.75rem;
$p-mobile: 0.5rem;

/* Widths */
$width-sm: 30rem;
$width-md: 50rem;
$width-lg: 70rem;
$width-xl: 90rem;

/* Shadows */
$main-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05), 0px 24px 24px rgba(0, 0, 0, 0.06);
