/* Colors */
$blue: #0000F8;
$blue-light: #4747fb;
$gray-dark: #3B3845;
$gray-md: #909090;
$gray-light: #F5F1F6;
$black: #16151A;
$white: #F5F1F6;

/* Fonts */
$font-family-main: 'Roboto Condensed', sans-serif;
$font-size-base: 1rem;
$font-size-sm: 0.875rem;
$font-size-md: 1.25rem;
$font-size-lg: 1.5rem;
$font-size-xl: 2rem;
$font-size-xxl: 3dvw;

/* Border-radius */
$br-xs: 0.15rem;
$br-sm: 0.3rem;
$br-md: 0.6rem;
$br-lg: 1.2rem;

/* Spacing */
$spacing-xxs: 0.25rem;
$spacing-xs: 0.5rem;
$spacing-sm: 1rem;
$spacing-md: 2rem;
$spacing-lg: 4rem;
$spacing-xl: 8rem;
$spacing-xxl: 16rem;

/* Widths */
$width-sm: 30rem;
$width-md: 50rem;
$width-lg: 70rem;
$width-xl: 90rem;

/* Shadows */
$main-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05), 0px 24px 24px rgba(0, 0, 0, 0.06);
