@import 'variables';

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-7px);
  }
}

@keyframes skewIn {
  0% {
    opacity: 0;
    transform: skewY(0deg) skewX(0deg) scale(0.6);
  }
  100% {
    opacity: 1;
    transform: skewY(-5.5deg) skewX(0deg) scale(1);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes shadowDrop {
  0% {
    text-shadow: 0 0 0 rgba($white, 0);
  }
  100% {
    text-shadow: 2px 3px 0 rgba(lighten($blue, 20%), .6), 13px 20px 20px rgba($teal, .36), 13px 16px 0 rgba(darken($blue, 5%), .6), 13px 20px 20px rgba(black, .26);
  }
}

@keyframes shadowDropMobile {
  0% {
    text-shadow: 0 0 0 rgba($white, 0);
  }
  100% {
    text-shadow: 2px 4px 0 rgba(darken($blue, 5%), .6), 1px 2px 0 rgba(darken($mint, 10%), .1), 2px 10px 10px rgba(black, .6);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes zoomBack {
  from {
    opacity: 0;
    transform: scale(1.4);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}



@keyframes clipReveal {
  from {
    opacity: 0;
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    transform: scale(1);
  }
}

@keyframes animatedFocusShadow {
  0% {
    box-shadow: inset 200px 100px 400px 0px rgba($black, 0.6);
  }
  50% {
    box-shadow: inset -200px 400px 400px 0px rgba($black, 0.6);
  }
  100% {
    box-shadow: inset 200px 100px 400px 0px rgba($black, 0.6);
  }
}

@keyframes animatedFocusShadowAlt {
  0% {
    box-shadow: inset -200px -400px 200px 0px rgba($black, 0.6);
  }
  50% {
    box-shadow: inset 200px 0px 200px 0px rgba($black, 0.6);
  }
  100% {
    box-shadow: inset -200px 400px 200px 0px rgba($black, 0.6);
  }
}