@import 'variables';

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-7px);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes zoomBack {
  from {
    opacity: 0;
    transform: scale(1.4);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}



@keyframes clipReveal {
  from {
    opacity: 0;
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    transform: scale(1);
  }
}

@keyframes animatedFocusShadow {
  0% {
    box-shadow: inset 200px 100px 400px 0px rgba($black, 0.6);
  }
  50% {
    box-shadow: inset -200px 400px 400px 0px rgba($black, 0.6);
  }
  100% {
    box-shadow: inset 200px 100px 400px 0px rgba($black, 0.6);
  }
}

@keyframes animatedFocusShadowAlt {
  0% {
    box-shadow: inset -200px -400px 200px 0px rgba($black, 0.6);
  }
  50% {
    box-shadow: inset 200px 0px 200px 0px rgba($black, 0.6);
  }
  100% {
    box-shadow: inset -200px 400px 200px 0px rgba($black, 0.6);
  }
}