
@import 'variables';

/* Standard */

* {
  margin: 0px;
  padding: 0px;
  box-sizing:border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  background: $black-dark;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-family-main, sans-serif;
}

body,
body.light {
  color: $white;
  background: linear-gradient(-120deg, rgba($blue, 0.45) 0%, $black 30%);
}

body.dark {
  background-color: $black;
  color: $white;
}

/* Fix for overflow bug */
#__nuxt {
  overflow: hidden;
}

/* Button */

button,
.button {
    color: $white;
    background: transparent;
    border-radius: 0;
    border: 2px solid rgba($white, 1);
    text-align: center;
    text-decoration: none;
    padding: $spacing-xs $spacing-md $spacing-xs;
    cursor: pointer;
    font-weight: 500;
    font-size: $font-size-md;
    transition: all 0.2s ease;
    font-family: $font-family-main;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: $spacing-xs;
    align-items: center;
    position: relative;
    z-index: 1;
    overflow: hidden;

    &:after {
      content: '';
      position: absolute;
      height: 100%;
      top: 100%;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba($white, 1);
      z-index: 0;
      transition: all 0.2s ease;
      mix-blend-mode: color;
    }

    &:hover {
      color: $black;
      border: 2px solid $white;

      &:after {
        top: 0;
      }
    }

    &.clear {
      border: 2px solid rgba($blue, 0);
      display: inline-block;
      background: rgba($black, 0.4);
    }

    &.large {
      padding: $spacing-sm $spacing-lg $spacing-sm;
      font-size: $font-size-lg;
    }
}


/* Typography */

.teal { color:$teal }
.green { color:$green }
.blue { color:$blue }
.mint { color:$mint }
.red { color:$red }
.purple { color:$purple }
.grey { color: darken($white, 50%) }
  .dark .grey { color: lighten($black, 50%) }

a {
  color:$blue;
  transition: color 0.28s ease-in-out;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-main;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

h1 { 
  font-size: $font-size-mega;
  line-height: $font-size-mega; 
  font-weight:500;
  margin-top: 0;
  margin-bottom: 0;
  padding:0.5rem 0;

  @media screen and (max-width: 1200px) {
    font-size: $font-size-max;
    line-height: $font-size-max;
  }

  @media screen and (max-width: 768px) {
    font-size: 12vw;
    line-height: 12vw;
  }

}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

h2 { 
  font-size: $font-size-xxl;
  line-height: 140%; 
  margin-bottom:1rem;
  font-weight:400;

  @media screen and (max-width: 1000px) {
    font-size: $font-size-xl;
  }

}

    .page-top h2 {
      margin-bottom: 0;
    }

.content h2 {
  margin-top: $spacing-lg;
}

h3 { 
  font-size: $font-size-xl; 
  line-height: 140%; 
  margin-bottom:1rem;
  font-weight:400;

  @media screen and (max-width: 1000px) {
    font-size: $font-size-lg;
    line-height: $font-size-lg * $multiplier;
  }
}

.content h3 {
  margin-top: $spacing-lg;
}

h4 { 
  font-size: $font-size-lg; 
  line-height: 140%;  
  margin: $spacing-md 0 $spacing-sm;
  font-weight:500;

  .highlight {
    color: $red-dark;
  }

  @media screen and (max-width: 1000px) {
    font-size: $font-size-md;
    line-height: $font-size-md * $multiplier;
  }
}

.article-extras .section-title h4 {
  margin-top: 0;
  font-size: $font-size-md;
  opacity: 0.5;
}

h5 { 
  font-size: $font-size-md; 
  line-height: $font-size-md * $multiplier; 
  font-family: $font-family-main;
  margin-top: $spacing-md;
  margin-bottom: $spacing-sm;
  font-weight:500;
  line-height: $spacing-md;

  @media screen and (max-width: 1000px) {
    font-size: $font-size-xs;
    line-height: $font-size-sm * $multiplier;
  }
}

p { 
  font-size: $font-size-md;
  line-height: $font-size-lg * $multiplier; 
  font-family: $font-family-secondary, sans-serif;
  line-height: $spacing-md;
  margin-bottom: 1rem;

  @media screen and (max-width: 1000px) {
    font-size: $font-size-sm;
    line-height: $font-size-sm * $multiplier * 1.4;
  }

}

li { 
  font-size: $font-size-lg; 
  line-height: $font-size-lg * $multiplier; 
  font-family: $font-family-secondary, sans-serif;
  line-height: $spacing-md;

  @media screen and (max-width: 1000px) {
    font-size: $font-size-sm;
    line-height: $font-size-sm * $multiplier * 1.4;
  }

}

.code-type {
  margin: $spacing-md 0 0;
  background: lighten($black-dark, 2.5%);
  padding: 0.5rem;
  text-align: right;
  width: 100%;
  font-size: $font-size-xs;
  color: lighten($black-dark, 25%);
}

.code {
  padding: 0.5rem;
  border-radius: .4rem;
  margin: 0 0 $spacing-md;
  overflow-x: auto;
  background: lighten($black, 15%);
  font-family: monospace;
  font-size: $font-size-sm;
  font-weight: 600;
  position: relative;
  width: 100%;

  .type {
    background-color: $black-dark;
    border-radius: $br-md;
    position: absolute;
    right: $spacing-sm;
    top: $spacing-sm;
    padding: $spacing-xs;
    color: $white;
    z-index: 1;
  }

  code {
    font-family: 'Fira Code', monospace;
    font-size: $font-size-xs;
    line-height: $font-size-sm * $multiplier;
    color: $white;
  }
}

    .dark .code {
      background-color: #333;
    }

small { 
  font-size: $font-size-sm;
  line-height: $font-size-sm * $multiplier; 
  font-family: 'Open Sans', sans-serif;

  @media screen and (max-width: 1000px) {
    font-size: $font-size-xs;
    line-height: $font-size-xs * $multiplier;
  }
}

ul,
ol {
  margin: 0 $spacing-sm $spacing-md $spacing-md;
}

hr {
  margin: $spacing-lg auto;
  width:100%;
  opacity: 0.1;
  border:1px dashed rgba(0,0,0,0.26);
}

    .dark hr {
      border:1px dashed rgba(255,255,255,0.26);
    }

p > strong {
  font-weight: 500;  
}

.center {
  text-align: center;
  text-wrap: balance;
  align-self: center;
}

/* Layout helpers */

.w-full {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 100vw;
  margin: $spacing-lg auto;
  padding: 0 $spacing-md;

  @media screen and (max-width: 1000px) {
    margin: $spacing-lg auto;
    padding: 0 $spacing-md;
  }
}

.w-three-quarters {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 75vw;
  width: 100%;
  margin: $spacing-lg auto;
  padding: 0 $spacing-md;

  @media screen and (max-width: 1000px) {
    max-width: 100vw;
    padding: 0 $spacing-md;
  }
}

.w-two-thirds {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 66.666vw;
  width: 100%;
  margin: $spacing-lg auto;
  padding: 0 $spacing-md;

  @media screen and (max-width: 1000px) {
    max-width: 100vw;
    padding: 0 $spacing-md;
  }
}

.w-half {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 50vw;
  width: 100%;
  margin: $spacing-lg auto;
  padding: 0 $spacing-md;

  @media screen and (max-width: 1000px) {
    max-width: calc(100vw - $spacing-sm * 2);
    padding: 0 $spacing-sm;
  }
}

.w-third {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 33.3333vw;
  margin: $spacing-lg auto;
  padding: 0 $spacing-md;

  @media screen and (max-width: 1000px) {
    max-width: 100vw;
    padding: 0 $spacing-md;
  }
}

.w-quarter {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 25vw;
  width: 100%;
  margin: $spacing-lg auto;
  padding: 0 $spacing-md;

  @media screen and (max-width: 1000px) {
    width: 100%;
    max-width: 100vw;
    padding: 0 $spacing-md;
  }
}

.page-top {
  padding-top: $spacing-xl;
  margin: $spacing-sm auto 0;
}

/* Standard elements */

input {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #00000024;
  font-size: 1rem;
  background: transparent;
  color:#000000;
}

    input:focus-visible {
      border: 1px solid #000000;
      outline-style: none;
      background-color: #ffffffc8;
    }

    .dark input {
      border: 1px solid #ffffff24;
      color:#ffffff
    }

    .dark input:focus-visible {
      border: 1px solid #ffffff;
      outline-style: none;
      background-color: #000000c8;
    }

/* Articles */ 

.single-article {
  display:flex;
  padding-left: $spacing-xl !important;
  padding-right: $spacing-xl !important;

  @media screen and (max-width: 1000px) {
    padding-left: $spacing-md !important;
    padding-right: $spacing-md !important;
  }
}

    @media screen and (max-width: 1000px) {
      .single-article {
        flex-direction: column;
        margin:0 auto 2rem;
      }

      .article-extras {
        width:100%;
        padding-right: 0rem;
      }

      .article-extras .posts {
        display:none;
      }
      
    }

    .article-extras .article-meta {
      margin-bottom: 2rem;
    }

    .content {
      width: 100%;

      #PostsExtras {
        margin: $spacing-lg 0;
      }
    }

    .summary {
      background-color: $black-dark;
      border-radius: $br-lg;
      width: 100%;
      padding: $spacing-lg;
      margin: $spacing-lg 0;
      font-weight: 400;

      @media screen and (max-width: 1000px){
        padding: $spacing-md;
      }

      h3 {
        margin-top: 0;
      }
    }

      .dark .summary {
        background-color: $black-dark;
      }

      @media screen and (max-width: 1000px) {
        .content {
          width:100%;
          margin:0;
        }
      }

    .content img {
      margin: $spacing-lg 0;
      width: 100%;
      border:0;
      border-radius: $br-md;
    }

    .dark .content img {
      background-color: $black-dark;
    }

.single-article p {
  font-family: 'Open Sans', sans-serif;
  font-size: $font-size-md;
  line-height: $font-size-md * $multiplier * 1.4;
  margin-bottom: $spacing-md;
}

.single-article p img {
  margin: 1rem 0;
  width:100%;
}

.dark .single-article p img {
  background-color: rgb(43, 11, 64);
}

.single-article ul {
  margin: 2rem;
}

.single-article ul li {
  margin-bottom: 0.5rem;
}

img.in-article {
  width: 100%;
  height: auto;
  margin:2rem 0;
}

/* Dual panel content */

.container,
.general-main {
  display: flex;
  flex-direction: column;
  gap: $spacing-md;
  width: 100%;
  max-width: 1020px;
  padding: $spacing-xl $spacing-lg;
  margin: 0 auto;
  z-index: 10;
  position: relative;

  @media screen and (max-width: 768px){
    padding: 0;
  }
      
  &.page-top {
    padding-top: $spacing-lg;

    @media screen and (max-width: 768px){
      padding: 0rem $spacing-md;
      margin: $spacing-lg 0;
    }
  }

  &.product-content {
    width: 100%;
    padding: $spacing-lg $spacing-md;
  }
}

/* Product */

.product-main {
  display:flex;
  flex-direction: column;
  width: calc(100% - 4rem);
  margin: 0 $spacing-md 2rem;
}

    @media screen and (max-width: 768px) {
      .product-main {
        margin: 4rem auto;
        width: calc(100% - 4rem);
      }
    }

.product-content-bg {
  border-radius: 8px;
  margin:4rem 0;
  padding: 8rem 0;
}

    @media screen and (max-width: 768px) {
      .product-content-bg {
        padding:8rem 2rem;
        margin:4rem -2rem;
        border-radius: 0;
      }
      
    }

    .product-content-bg.crisp-bg {
      background: linear-gradient(130deg, #ff9f67 0%, #A566AF 20%);
    }

    .product-content-bg h2,
    .product-content-bg p,
    .product-content-bg li {
      color:white;
    }

    .product-content-bg h2 {
      margin-top: 0 !important;
    }

.product-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  margin:0 auto;
  perspective: 1000px;
  transform-style: preserve-3d;
}

    .product-logo {
      width:100px;
      margin:0 auto;
    }

    .product-content h1 {
      text-align: center;
      margin:0 auto;
      max-width:800px;

      @media screen and (max-width: 768px) {
        font-size: $font-size-xl;
      }
    }

    .product-content h2,
    .product-content h3,
    .product-content h4 {
      text-align: center;
      margin:$spacing-sm auto $spacing-md;
      max-width:600px;
    }

    .product-content p.centered {
      text-align: center;
      margin:2rem auto;
      max-width:600px;
    }

.product-bar {
  border:1px solid rgba(0,0,0,0.06);
  border-radius: 8px;
  padding:1rem;
  margin:2rem auto 6rem;
  width: 100%;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

    .dark .product-bar {
      border:1px solid rgba(255,255,255,0.06);
    }

    @media screen and (max-width: 768px) {
      .product-bar {
        flex-direction: column;
        margin:2rem auto;
        border: 0;
        justify-content: center;
        align-items: center;
        gap: 1rem;
      }
      
    }

.main-product-image {
  width: 90%;
  height:auto;
  position: relative;
  transform: rotate3d(1, 0, 0, 20deg);
  margin: 0 auto $spacing-md;
}

    .main-product-image img {
      width: 100%;
      position: relative;
      z-index: 9;
    }

    .main-product-image video {
      width: 100%;
      height: auto;
      border-radius: $br-lg;
      position: relative;
      z-index: 9;
      border:0;
    }

    .dark .main-product-image img,
    .dark .main-product-image video {
      background-color: rgb(34, 9, 50);
    }

    .main-product-image::after {
      position: absolute;
      content: '';
      top:0;
      left:0;
      right:0;
      bottom:0;
      z-index: 1;
      background:red;
      width:100%;
      height:100%;
      filter:blur(400px);
      background: linear-gradient(130deg, #FF9E67 0%, #A566AF 20%, #F636B5 40%);
      opacity: 0.25;
    }

    .main-product-image.sammitch::after {
      background: linear-gradient(130deg, #3E9C13 0%, #A566AF 20%, #7844AA 40%);
    }

    .main-product-image.scatter::after {
      background: linear-gradient(130deg, #a5daff31 0%, #0899FE 60%);
    }

    .main-product-image.telos::after {
      background: linear-gradient(130deg, #4f1aef30 0%, #501AEF 60%);
    }

    .main-product-image.doodledapp::after {
      background: linear-gradient(130deg, #3e75ff2f 0%, #3E74FF 60%);
    }

    .main-product-image.ultra::after {
      background: linear-gradient(130deg, #886ae231 0%, #896AE2 60%);
    }

    .main-product-image.fff::after {
      background: linear-gradient(130deg, #9346bd5e 0%, #9446BD 60%);
    }

.single-product-image {
    margin:0 0 2rem 0;
    width: 100%;
}

    .dark .single-product-image {
      background: $black-dark;
    }

.product-images {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:2rem;
  padding:1rem 0
}

    .product-images.five-across {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

      @media screen and (max-width: 768px) {
        grid-template-columns: 1fr 1fr;
      }
    }

    .product-images .single-feature-image {
      justify-self: center;
    }

    @media screen and (max-width: 1200px) {
      .product-images {
        grid-template-columns: 1fr 1fr;
      }
      
    }    

    @media screen and (max-width: 768px) {
      .product-images {
        grid-template-columns: 1fr;
      }
      
    }

.product-role {
  margin: $spacing-md 0;
  display: flex;
  flex-direction: column;
  gap: $spacing-md;

  @media screen and (max-width: 768px){
    grid-template-columns: 1fr;
  }

  .single-role {

    h3 {
      margin-bottom: $spacing-sm;
    }

    &:first-child {
      border-left: none;
    }

    @media screen and (max-width: 768px){
      border-left: none;
    }

    ul.roles {
      list-style: none;
      padding: 0;
      margin: $spacing-sm 0;
      display: flex; 
      flex-direction: row;
      flex-wrap: wrap;

      li {
        margin: 0 $spacing-md $spacing-sm 0;
        font-size: $font-size-sm;
        font-weight: 600;
        text-transform: uppercase;
        color: rgba($white, 0.6);
      }
    }
  }
}

.story-time li {
  font-size:0.9rem;
  opacity: 0.8;
  line-height: 1.65rem;
  margin: 0 8rem 0.5rem;
  font-family: $font-family-secondary, sans-serif;

  @media screen and (max-width: 768px) {
    margin: 0 0 0.5rem;
  }
}

.story-time ul {
  margin:2rem 1rem;
}

.story-time .codehighlight {
  font-size:0.8rem;
  opacity: 1;
  background-color: $white-dark;
  padding: 0.1rem 0.3rem;
  border-radius: 4px;
}

.dark .story-time .codehighlight {
  background-color: #ffffff37;
  border:1px solid #ffffff37;
}

.features {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

    @media screen and (max-width: 768px) {
      .features {
        display:grid;
        grid-template-columns: 1fr;
      }
    }

    .single-feature {
      display:flex;
      flex-direction:row;
      margin:2rem 0;
    }

        .single-feature img {
          width:40px;
          height:40px;
          margin-right:1rem;
        }

        .dark .single-feature img {
          filter: invert(1);
        }

        .single-feature p {
          opacity: 1;
          font-size:1rem;
          margin:0 0 0.5rem;
        }

        .single-feature li {
          opacity: 0.6;
          font-size:0.7rem;
          margin:0;
        }

    .single-feature-image {
      display:flex;
      flex-direction:row;
    }

    .single-feature-image img {
      width: 100%;
      padding:1rem;
    }