* {
  transition: all 0.08s;
}

/* Reset */

* {
  margin: 0px;
  padding: 0px;
}

html, 
body {
 margin: 0;
 padding: 0;
 font-family: 'Open Sans', sans-serif;
}

/* Typography */

a {
  color:#382e48;
  text-decoration: underline;
  font-weight: bold;
}

    .dark a {
      color:#ffd586;
    }

h1 { 
 font-size: 3.051rem; 
 font-family: 'Montserrat', sans-serif;
 font-weight:normal;
 margin-bottom: 2rem;
}

    h1.hyper-bold {
      text-align: center;
      font-size:8dvw;
      font-weight: bold;
    }

h2 { 
 font-size: 2.441rem; 
 font-family: 'Montserrat', sans-serif;
 margin-top:4rem;
 margin-bottom:1rem;
 font-weight:normal;
}

h3 { 
 font-size: 1.953rem; 
 font-family: 'Montserrat', sans-serif;
 margin-top:2rem;
 margin-bottom:1rem;
 font-weight:normal;
}

h4 { 
 font-size: 1.562rem; 
 font-family: 'Montserrat', sans-serif;
 margin-top:2rem;
 margin-bottom:1rem;
 font-weight:normal;
}

h5 { 
 font-size: 1.25rem; 
 font-family: 'Montserrat', sans-serif;
 margin-top:2rem;
 margin-bottom:1rem;
 font-weight:normal;
}

p { 
 font-size: 1rem; 
 font-family: 'Open Sans', sans-serif;
 margin-bottom:1rem;
}

small { 
 font-size: 0.8rem; 
 font-family: 'Open Sans', sans-serif;
}

ul {
  margin: 0 0 0 1rem;
}

li {
  margin-bottom: 0.5rem;
  padding-left:0.5rem;
}

/* Layout */

.container {
  max-width: 1200px;
  margin: 8rem auto;
  padding: 0 20px;
}

body.light {
  color: #f0f0f0;
  color: #000000;
}

body.dark {
  background-color: #160B1D;
  background: linear-gradient(180deg, #160B1D 0%, #1D1038 100%);
  color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

/* Standard elements */

input {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #00000024;
  font-size: 1rem;
  background: transparent;
  color:#000000;
}

    input:focus-visible {
      border: 1px solid #000000;
      outline-style: none;
      background-color: #ffffffc8;
    }

    .dark input {
      border: 1px solid #ffffff24;
      color:#ffffff
    }

    .dark input:focus-visible {
      border: 1px solid #ffffff;
      outline-style: none;
      background-color: #000000c8;
    }

button, .button {
  background: linear-gradient(white, white) padding-box,
              linear-gradient(to bottom, rgb(224, 224, 224), rgb(124, 124, 124)) border-box;
  border: 1px solid transparent;
  color:black;
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  box-shadow: 0 2px 1px rgba(0,0,0,0.24), 
              0 8px 6px rgba(0,0,0,0.06),
              0 12px 12px rgba(0,0,0,0.06);
  transition: all 0.28s ease-in-out;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  transition: all 0.18s ease-in-out;
}

button:hover, .button:hover {
  background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)) padding-box,
  linear-gradient(to bottom, rgb(42, 42, 42), black) border-box;
  border: 1px solid transparent;
  color:white;
}

    button.small, .button.small,
    .dark button.small, .dark .button.small {
      padding: 0.3rem 0.8rem !important;
      font-size: 0.8rem;
    }

.dark button, .dark .button {
  background: linear-gradient(#2b1d39, #1b1124) padding-box, 
              linear-gradient(to bottom, #4d3365, #4d3365) border-box;
  border: 1px solid transparent;
  color:white;
}

    .dark button:hover, .dark .button:hover {
      background: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)) padding-box,
                  linear-gradient(to bottom, rgb(255, 255, 255), rgb(159, 159, 159)) border-box;
      border: 1px solid transparent;
      color:black;
      border-radius: 4px;
      padding: 0.5rem 1rem;
      text-decoration: none;
      font-weight: bold;
      position: relative;
      font-family: 'Montserrat', sans-serif;
    }

/* Articles */ 

.single-article {
  display:flex;
  flex-direction: row;
}

    .article-extras {
      width:340px;
      display:flex;
      flex-direction: column;
      margin-right: 4rem;
      position: relative;
      height:100%
    }

        .article-extras.pinned {
          top:40px;
        }

        @media screen and (max-width: 768px) {
          .article-extras {
            width:100%;
            position: relative;
            height: auto;
          }
        }

        .article-extras .posts a {
          font-size:0.8rem;
          margin-left:0px;
          padding:1rem 0rem 0 1rem;
          position: relative;
        }

        .article-extras .posts a::before {
          content: '';
          display: block;
          width:6px;
          height: 6px;
          border-radius: 100%;
          position: absolute;
          left:0px;
          top:20px;
          background-color:black;
        }

        .dark .article-extras .posts a::before {
          content: '';
          display: block;
          width:6px;
          height: 6px;
          border-radius: 100%;
          position: absolute;
          left:0px;
          top:20px;
          background-color:white;
        }

    @media screen and (max-width: 768px) {
      .single-article {
        flex-direction: column;
        margin:0 auto 2rem;
      }

      .article-extras {
        width:100%;
        padding-right: 0rem;
      }

      .article-extras .posts {
        display:none;
      }
      
    }

    .article-extras .article-meta {
      margin-bottom: 2rem;
    }

    .content {
      width:calc(100% - 340px);
    }

      @media screen and (max-width: 768px) {
        .content {
          width:100%;
          margin:0;
        }
      }

    .content img {
      margin:0 0 2rem 0;
      width: calc(100% - 8px);
      border: 1px solid #00000024;
      border-radius: .3rem;
      padding:4px;
      box-shadow: 0 2px 1px rgba(0,0,0,0.24), 
                  0 8px 6px rgba(0,0,0,0.06),
                  0 12px 12px rgba(0,0,0,0.06);
    }

    .dark .content img {
      border: 1px solid #ffffff24;
    }

.single-article h1 {
  line-height: 2.8rem;
  font-size: 2.441rem; 
}

.single-article h1,
.single-article h2,
.single-article h3,
.single-article h4{
  margin-bottom: 1.5rem;
  letter-spacing: -0.5px;
}

.single-article h2,
.single-article h3,
.single-article h4 {
  margin-top: 4rem;
}

.single-article p {
  line-height: 2.4rem;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
}

.single-article p img {
  margin: 1rem 0;
  width:100%;
}

.single-article ul {
  margin: 2rem;
}

.single-article ul li {
  margin-bottom: 0.5rem;
}

img.in-article {
  width: 100%;
  height: auto;
  margin:2rem 0;
}

.single-article h4 {
  margin: 1.5rem 0 0.5rem !important;
}

.single-article a {
  color: #382e48;
}

.dark .single-article a {
  color: #ffd586;
}

/* Dual panel content */

.general-main {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  width: 100%;
  max-width: 1400px;
  margin: 8rem auto;
}

    @media screen and (max-width: 1400px) {
      .general-main {
        padding:0 2rem;
        width:calc(100% - 4rem);
        max-width: 1120px;
      }
    }

    @media screen and (max-width: 1000px) {
      .general-main {
        flex-direction: column;
        padding:0 2rem;
      }
    }

    @media screen and (max-width: 768px) {
      .general-main {
        margin: 4rem auto;
      }
    }

    .general-content {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: auto;
      margin-bottom:4rem;
      margin-left: calc(400px + 2rem);
    }

        @media screen and (max-width: 1000px) {
            .general-content {
              margin-left: 0;
            } 
        }

        .dark .general-content {
          border-radius: 8px;
        }

        .general-content img {
          margin:0 0 2rem 0;
          width: calc(100% - 8px);
          border: 1px solid #00000024;
          border-radius: .3rem;
          padding:4px;
          box-shadow: 0 2px 1px rgba(0,0,0,0.24), 
                      0 8px 6px rgba(0,0,0,0.06),
                      0 12px 12px rgba(0,0,0,0.06);
        }
    
        .dark .general-content img {
          border: 1px solid #ffffff24;
        }

    .explanation {
      max-width: 380px;
      position: -webkit-sticky;
      position: fixed;
      top:120px;
    }

    @media screen and (max-width: 1000px) {
      .explanation {
        width: 100%;
        max-width: 100%;
        padding:0rem;
        position: relative;
        top:0;
      }
    }

    .explanation h4,
    .explanation p {
      opacity: 0.8;
    }

    @media screen and (max-width: 1000px) {
      .explanation h1 {
        font-size: 2rem;
      } 
    }

/* Product */

.product-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  margin:0 auto;
}

.product-bar {
  border:1px solid rgba(0,0,0,0.06);
  border-radius: 8px;
  padding:1rem;
  width:100%;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.product-image {
  margin:2rem 0;
  width: calc(100% - 8px);
          border: 1px solid #00000024;
          border-radius: .3rem;
          padding:4px;
          box-shadow: 0 2px 1px rgba(0,0,0,0.24), 
                      0 8px 6px rgba(0,0,0,0.06),
                      0 12px 12px rgba(0,0,0,0.06);
}