* {
  transition: all 0.08s ease-in-out;
}

/* Reset */

* {
  margin: 0px;
  padding: 0px;
}

html, 
body {
 margin: 0;
 padding: 0;
 font-family: 'Libre Baskerville', sans-serif;
}

/* Typography */

h1 { 
 font-size: 3.051rem; 
 font-family: 'Libre Baskerville';
}

h2 { 
 font-size: 2.441rem; 
 font-family: 'Libre Baskerville';
}

h3 { 
 font-size: 1.953rem; 
 font-family: 'Libre Baskerville';
}

h4 { 
 font-size: 1.562rem; 
 font-family: 'Libre Baskerville';
}

h5 { 
 font-size: 1.25rem; 
 font-family: 'Libre Baskerville';
}

p { 
 font-size: 1rem; 
 font-family: 'Libre Baskerville';
}

small { 
 font-size: 0.8rem; 
 font-family: 'Open Sans', sans-serif;
}

/* Layout */

.container {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 0 20px;
}

body.light {
  color: #f0f0f0;
  color: #000000;
}

body.dark {
  background-color: #000000;
  color: #ffffff;
}

/* Articles */ 

.single-article {
  margin: 0 auto 2rem;
  display:flex;
  flex-direction: row;
}

    .article-extras {
      width:340px;
      display:flex;
      flex-direction: column;
      margin-right: 4rem;
      position: fixed;
      height:100%
    }

        @media screen and (max-width: 768px) {
          .article-extras {
            width:100%;
            position: relative;
            height: auto;
          }
        }

    .dark .article-extras .posts {
      border-top: 1px solid #ffffff1d;
    }

        .article-extras .posts a {
          font-size:0.8rem;
          margin-left:0px;
          padding:1rem 0rem 0 1rem;
          position: relative;
        }

        .article-extras .posts a::before {
          content: '';
          display: block;
          width:6px;
          height: 6px;
          border-radius: 100%;
          position: absolute;
          left:0px;
          top:20px;
          background-color:black;
        }

        .dark .article-extras .posts a::before {
          content: '';
          display: block;
          width:6px;
          height: 6px;
          border-radius: 100%;
          position: absolute;
          left:0px;
          top:20px;
          background-color:white;
        }

    @media screen and (max-width: 768px) {
      .single-article {
        flex-direction: column;
        margin:0 auto 2rem;
      }

      .article-extras {
        width:100%;
        padding-right: 0rem;
      }

      .article-extras .posts {
        display:none;
      }
      
    }

    .article-extras .article-meta {
      margin-bottom: 2rem;
    }

    .content {
      width:65%;
      margin-left:380px;
    }

      @media screen and (max-width: 768px) {
        .content {
          width:100%;
          margin:0;
        }
      }

    .content img {
      margin:0 0 2rem 0;
      width: 100%;
    }

.single-article h1 {
  line-height: 2.8rem;
  font-size: 2.441rem; 
}

.single-article h1,
.single-article h2,
.single-article h3,
.single-article h4{
  margin-bottom: 1.5rem;
  letter-spacing: -0.5px;
}

.single-article h2,
.single-article h3,
.single-article h4 {
  margin-top: 4rem;
}

.single-article p {
  line-height: 2.4rem;
  font-family: 'Libre Baskerville', sans-serif;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
}

.single-article p img {
  margin: 1rem 0;
  width:100%;
}

.single-article ul {
  margin: 2rem;
}

.single-article ul li {
  margin-bottom: 0.5rem;
}

img.in-article {
  width: 100%;
  height: auto;
  margin:2rem 0;
}

.single-article h4 {
  margin: 1.5rem 0 0.5rem !important;
}

.single-article a {
  color: #ff53f1;
}

.dark .single-article a {
  color: #53ff9b;
}