@import 'variables';

/* Reset */

* {
  margin: 0px;
  padding: 0px;
  box-sizing:border-box;
  -webkit-tap-highlight-color: transparent;
  transition: color, background-color 0.28s;
}

html, 
body {
 margin: 0;
 padding: 0;
 font-family: $font-family-main, sans-serif;
}

/* Typography */

a {
  color:$blue;
  text-decoration: underline;
  font-weight: bold;
}

    .dark a {
      color:$blue-light;
    }

h1 { 
 font-size: 3.051rem; 
 line-height: 3.051rem;
 font-family: $font-family-main, sans-serif;
 font-weight:700;
 margin-bottom: 2rem;
 padding:0.5rem 0;
}

    h1.hyper-bold {
      text-align: center;
      font-size: 4.12rem; 
      line-height: 4.12rem;
      margin:0;
      padding:0;
      color:$black;

      @media screen and (max-width: 768px) {
        font-size: 3.051rem; 
        line-height: 3.051rem;
        
      }
    }

    .dark h1.hyper-bold {
      color:$white;
    }

    h1.home-bold {
      font-size: 8dvw; 
      line-height: 8dvw;
      color:$black;

      @media screen and (max-width: 768px) {
        font-size: 3.051rem; 
        line-height: 3.051rem;
        
      }
    }

    .dark h1.home-bold {
      color:$white;
    }

    h1.general-bold {
      font-weight: bold;
      margin:0 0 1rem;
    }

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

h2 { 
 font-size: 2.441rem; 
 font-family: $font-family-main, sans-serif;
 margin-top:4rem;
 margin-bottom:1rem;
 font-weight:normal;
}

h3 { 
 font-size: 1.953rem; 
 font-family: $font-family-main, sans-serif;
 margin-top:2rem;
 margin-bottom:1rem;
 font-weight:normal;
}

h4 { 
 font-size: 1.562rem; 
 font-family: $font-family-main, sans-serif;
 margin-top:2rem;
 margin-bottom:1rem;
 font-weight:normal;
 line-height: $spacing-md;
}

h5 { 
 font-size: 1.25rem; 
 font-family: $font-family-main, sans-serif;
 margin-top:2rem;
 margin-bottom:1rem;
 font-weight:normal;
 line-height: $spacing-md;
}

p { 
 font-size: 1rem; 
 font-family: $font-family-secondary, sans-serif;
 line-height: $spacing-md;
 margin-bottom: 1rem;
}

small { 
 font-size: 0.8rem; 
 font-family: 'Open Sans', sans-serif;
}

ul {
  margin: 0 0 0 1rem;
}

li {
  margin-bottom: 0.5rem;
  padding-left:0.5rem;
}

hr {
  margin: 8rem auto 4rem;
  width:20%;
  opacity: 0.2;
  border:1px solid #000000;
}

    .dark hr {
      border:1px solid #ffffff;
    }

p > strong {
  font-weight: 400;  

  &::after {
    bottom: -0.2rem;
    height: 0.5rem;
    left: -0.25rem;
    right: -0.25rem;
  }
}

/* Layout */

body,
body.light {
  color: #160B1D;
  background-color: #f6f3f7;
  overflow-x: hidden;
}

body.dark {
  background-color: rgb(34, 9, 50);
  color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  overflow-x: hidden;
}

/* Standard elements */

input {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #00000024;
  font-size: 1rem;
  background: transparent;
  color:#000000;
}

    input:focus-visible {
      border: 1px solid #000000;
      outline-style: none;
      background-color: #ffffffc8;
    }

    .dark input {
      border: 1px solid #ffffff24;
      color:#ffffff
    }

    .dark input:focus-visible {
      border: 1px solid #ffffff;
      outline-style: none;
      background-color: #000000c8;
    }

/* Articles */ 

.single-article {
  display:flex;
  flex-direction: row;
}

    .article-extras {
      display:flex;
      flex-direction: column;
      position: relative;
    }

        .article-extras h1 {
          font-weight: bold;
          margin:0 0 2rem;
          z-index: 200;
          color: $black;
        }

        .dark .article-extras h1 {
          color: $white;
        }

        .article-extras.pinned {
          top:40px;
        }

        @media screen and (max-width: 768px) {
          .article-extras {
            width:100%;
            position: relative;
            height: auto;
          }
        }

        .article-extras .posts a {
          margin-left:0px;
          padding-top:$spacing-sm;
          position: relative;
          font-family: $font-family-secondary, sans-serif;
          text-decoration: none;
        }

    @media screen and (max-width: 1000px) {
      .single-article {
        flex-direction: column;
        margin:0 auto 2rem;
      }

      .article-extras {
        width:100%;
        padding-right: 0rem;
      }

      .article-extras .posts {
        display:none;
      }
      
    }

    .article-extras .article-meta {
      margin-bottom: 2rem;
    }

    .content {
      width: 100%;
    }

      @media screen and (max-width: 1000px) {
        .content {
          width:100%;
          margin:0;
        }
      }

    .content img {
      margin:0 0 2rem 0;
      width: 100%;
      border: 1px solid transparent;
      border-radius: .3rem;
      padding:10px;
      background-color: rgba(255, 255, 255, 0.65);
      box-shadow: rgba(0, 0, 0, 0.18) 0px 0.602187px 0.602187px -1.25px, rgba(0, 0, 0, 0.16) 0px 2.28853px 2.28853px -2.5px, rgba(0, 0, 0, 0.063) 0px 10px 10px -3.75px;
    }

    .dark .content img {
      background-color: rgb(43, 11, 64);
    }

// .single-article h1 {
//   line-height: 2.8rem;
//   font-size: 2.441rem; 
// }

// .single-article h1,
// .single-article h2,
// .single-article h3,
// .single-article h4{
//   margin-bottom: 1.5rem;
//   letter-spacing: -0.5px;
// }

// .single-article h2,
// .single-article h3,
// .single-article h4 {
//   margin-top: 4rem;
// }

.single-article p {
  line-height: 2.4rem;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
}

.single-article p img {
  margin: 1rem 0;
  width:100%;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 0.602187px 0.602187px -1.25px, rgba(0, 0, 0, 0.16) 0px 2.28853px 2.28853px -2.5px, rgba(0, 0, 0, 0.063) 0px 10px 10px -3.75px;
}

.dark .single-article p img {
  background-color: rgb(43, 11, 64);
}

.single-article ul {
  margin: 2rem;
}

.single-article ul li {
  margin-bottom: 0.5rem;
}

img.in-article {
  width: 100%;
  height: auto;
  margin:2rem 0;
}

.single-article h4 {
  margin: $spacing-sm 0 $spacing-xs !important;
}

/* Dual panel content */

.container,
.general-main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  max-width: 1200px;
  padding: calc($spacing-xl + 2rem) $spacing-lg;
  margin: 0 auto;
}

    .general-main.white {
      background-color: white;
    }

    @media screen and (max-width: 1400px) {
      .container,
      .general-main {
        padding: calc($spacing-xl + 4rem) $spacing-lg;
      }
    }

    @media screen and (max-width: 1000px) {
      .container,
      .general-main {
        flex-direction: column;
        padding: calc($spacing-xl + 4rem) $spacing-lg;
      }
    }

    @media screen and (max-width: 768px) {
      .container,
      .general-main {
        padding: calc($spacing-lg + 4rem) $spacing-md;
      }
    }

    .general-content {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: auto;
      margin-bottom:4rem;
    }

        @media screen and (max-width: 1000px) {
            .general-content {
              margin-left: 0;
            } 
        }

        .dark .general-content {
          border-radius: 8px;
        }

        .general-content img {
          margin:0 0 2rem 0;
          width: 100%;
          border: 1px solid transparent;
          border-radius: .6rem;
          padding:10px;
          background-color: rgba(255, 255, 255, 0.65);
          box-shadow: rgba(0, 0, 0, 0.18) 0px 0.602187px 0.602187px -1.25px, rgba(0, 0, 0, 0.16) 0px 2.28853px 2.28853px -2.5px, rgba(0, 0, 0, 0.063) 0px 10px 10px -3.75px;
        }
    
        .dark .general-content img {
          background-color: rgb(43, 11, 64);
        }

/* Product */

.product-main {
  display:flex;
  flex-direction: column;
  width: calc(100% - 4rem);
  margin: 8rem 2rem;
}

    @media screen and (max-width: 768px) {
      .product-main {
        margin: 4rem auto;
        width: calc(100% - 4rem);
      }
    }

.product-content-bg {
  background: #efefef;
  border-radius: 8px;
  margin:4rem 0;
  padding: 8rem 0;
}

    @media screen and (max-width: 768px) {
      .product-content-bg {
        padding:8rem 2rem;
        margin:4rem -2rem;
        border-radius: 0;
      }
      
    }

    .product-content-bg.crisp-bg {
      background: linear-gradient(130deg, #ff9f67 0%, #A566AF 20%);
    }

    .product-content-bg h2,
    .product-content-bg p,
    .product-content-bg li {
      color:white;
    }

    .product-content-bg h2 {
      margin-top: 0 !important;
    }

.product-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  margin:0 auto;
  perspective: 1000px;
  transform-style: preserve-3d;
}

    .product-logo {
      width:140px;
      margin:0 auto;
      mix-blend-mode: darken;
    }

    .dark .product-logo {
      mix-blend-mode: lighten;
    }

    .product-content h2,
    .product-content h3,
    .product-content h4 {
      text-align: center;
      margin:$spacing-md auto;
      max-width:600px;
    }

    .product-content p.centered {
      text-align: center;
      margin:2rem auto;
      max-width:600px;
    }

.product-bar {
  border:1px solid rgba(0,0,0,0.06);
  border-radius: 8px;
  padding:1rem;
  margin:2rem auto 6rem;
  width: 100%;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

    .dark .product-bar {
      border:1px solid rgba(255,255,255,0.06);
    }

    @media screen and (max-width: 768px) {
      .product-bar {
        flex-direction: column;
        margin:2rem auto;
        border: 0;
        justify-content: center;
        align-items: center;
        gap: 1rem;
      }
      
    }

.main-product-image {
  width: 100%;
  height:auto;
  position: relative;
  background-color: white;
  padding:10px;
  border-radius: 10px;
  transform: rotate3d(1, 0, 0, 20deg);
  margin-bottom:2rem;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 0.602187px 0.602187px -1.25px, rgba(0, 0, 0, 0.16) 0px 2.28853px 2.28853px -2.5px, rgba(0, 0, 0, 0.063) 0px 10px 10px -3.75px;
}

    .main-product-image img {
      width: 100%;
      border-radius: .3rem;
      position: relative;
      z-index: 9;
      border:0;
      box-shadow: 0 0 20px #ff9f671f, 0 0 80px #f636b615;
      margin-bottom: -4px;
    }

    .main-product-image video {
      width: 100%;
      height: auto;
      border-radius: .3rem;
      position: relative;
      z-index: 9;
      border:0;
      box-shadow: 0 0 20px #ff9f671f, 0 0 80px #f636b615;
    }

    .dark .main-product-image img,
    .dark .main-product-image video {
      box-shadow: 0 0 20px #ff71d0e4, 0 0 80px #f636b672;
      background-color: rgb(34, 9, 50);
    }

    .main-product-image::after {
      position: absolute;
      content: '';
      top:0;
      left:0;
      right:0;
      bottom:0;
      z-index: 1;
      background:red;
      width:100%;
      height:100%;
      filter:blur(400px);
      background: linear-gradient(130deg, #FF9E67 0%, #A566AF 20%, #F636B5 40%);
      opacity: 0.15;
    }

    .dark .main-product-image::before {
      position: fixed;
      content: '';
      top:-400px;
      z-index: 1;
      background:red;
      width:200px;
      height:800px;
      rotate:20deg;
      filter:blur(80px);
      background: linear-gradient(130deg, #FF9E67 0%, #A566AF 20%, #F636B5 40%);
      opacity: 0.35;
    }

    .main-product-image.sammitch::after {
      background: linear-gradient(130deg, #3E9C13 0%, #A566AF 20%, #7844AA 40%);
    }

    .dark .main-product-image.sammitch::before {
      background: linear-gradient(130deg, #3E9C13 0%, #A566AF 20%, #7844AA 40%);
    }

    .main-product-image.scatter::after {
      background: linear-gradient(130deg, #a5daff31 0%, #0899FE 60%);
    }

    .dark .main-product-image.scatter::before {
      background: linear-gradient(130deg, #a5daff31 0%, #0899FE 60%);
    }

    .main-product-image.doodledapp::after {
      background: linear-gradient(130deg, #4431CD 0%, #22C154 60%);
    }

    .dark .main-product-image.doodledapp::before {
      background: linear-gradient(130deg, #3e75ff2f 0%, #3E74FF 60%);
    }

    .main-product-image.ultra::after {
      background: linear-gradient(130deg, #27213a 0%, #b98df7 60%);
    }

    .dark .main-product-image.ultra::before {
      background: linear-gradient(130deg, #886ae231 0%, #896AE2 60%);
    }

    .main-product-image.fff::after {
      background: linear-gradient(130deg, #9446BD 0%, #9446BD 60%);
    }

    .dark .main-product-image.fff::before {
      background: linear-gradient(130deg, #9346bd5e 0%, #9446BD 60%);
    }

    .dark .main-product-image::after {
      opacity: 1;
    }

.single-product-image {
    margin:0 0 2rem 0;
    width: 100%;
    border: 1px solid transparent;
    border-radius: .3rem;
    padding:10px;
    background-color: rgba(255, 255, 255, 0.65);
    box-shadow: rgba(0, 0, 0, 0.18) 0px 0.602187px 0.602187px -1.25px, rgba(0, 0, 0, 0.16) 0px 2.28853px 2.28853px -2.5px, rgba(0, 0, 0, 0.063) 0px 10px 10px -3.75px;
}

    .dark .single-product-image {
      background-color: rgb(47, 12, 68);
    }

.product-images {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:2rem;
  padding:1rem 0
}

    .product-images.five-across {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .product-images .single-feature-image {
      justify-self: center;
    }

    @media screen and (max-width: 1200px) {
      .product-images {
        grid-template-columns: 1fr 1fr;
      }
      
    }    

    @media screen and (max-width: 768px) {
      .product-images {
        grid-template-columns: 1fr;
      }
      
    }

.story-time {
  margin:0 2rem;
}

    @media screen and (max-width: 768px) {
      .story-time {
        margin:0rem;
      }
    }

.story-time p {
  font-size:0.9rem;
  opacity: 0.8;
  line-height: 1.65rem;
  margin: 0 8rem 2rem;
}

    @media screen and (max-width: 768px) {
      .story-time p {
        margin: 0 0 2rem;
      }
    }

.story-time li {
  font-size:0.9rem;
  opacity: 0.8;
  line-height: 1.65rem;
  margin: 0 8rem 0.5rem;
  font-family: $font-family-secondary, sans-serif;

  @media screen and (max-width: 768px) {
    margin: 0 0 0.5rem;
  }
}

.story-time ul {
  margin:2rem 1rem;
}

.story-time .codehighlight {
  font-size:0.8rem;
  opacity: 1;
  background-color: #00000037;
  padding: 0.1rem 0.3rem;
  border-radius: 4px;
  border:1px solid #00000037;
}

.dark .story-time .codehighlight {
  background-color: #ffffff37;
  border:1px solid #ffffff37;
}

.features {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

    @media screen and (max-width: 768px) {
      .features {
        display:grid;
        grid-template-columns: 1fr;
      }
    }

    .single-feature {
      display:flex;
      flex-direction:row;
      margin:2rem 0;
    }

        .single-feature img {
          width:40px;
          height:40px;
          margin-right:1rem;
        }

        .dark .single-feature img {
          filter: invert(1);
        }

        .single-feature p {
          opacity: 1;
          font-size:1rem;
          margin:0 0 0.5rem;
        }

        .single-feature li {
          opacity: 0.6;
          font-size:0.7rem;
          margin:0;
        }

    .single-feature-image {
      display:flex;
      flex-direction:row;
    }

    .single-feature-image img {
      width: 100%;
      padding:1rem;
    }