@import 'variables';

$scatter-color: #017CD0;
$doodledapp-color: #4431CD;
$ultra-color: #7F4EC8;
$fff-color: #9446BD;
$telos-color: #4526C3;


.product-splash {
  width: 100%;
  min-height: calc(85dvh - 92px);
  display: flex;
  flex-direction: row;
  margin-bottom: $spacing-lg;

  @media (max-width: 768px) {
    flex-direction: column;
    min-height: calc(100vh - 92px);
  }

  .product-teasers {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1; 
      pointer-events: none;
    }

    @media (max-width: 768px) {
      flex-direction: column;
      width: 100%;
      height: calc(100vh - 92px);
    }

    .product-teaser {
      width: 100%;
      height: 100%;
      overflow: hidden;

      @media (max-width: 768px) {
        height: 100%;
      }
  
      &.scatter-mobile {
        background-color: $scatter-color;
        background: url(/products/scatter/scatter-mobile.png) no-repeat center center;
        background-size: cover;
        animation: clipReveal 0.44s forwards;
        animation-delay: 0.3s;
        opacity: 0;
      }

      &.scatter-marketplace {
        background-color: $scatter-color;
        background: url(/products/scatter/scatter-marketplace.png) no-repeat center center;
        background-size: cover;
        animation: clipReveal 0.44s forwards;
        animation-delay: 0.6s;
        opacity: 0;
      }

      &.doodledapp-website-show {
        background-color: $doodledapp-color;
        background: url(/products/doodledapp/doodledapp-website-show.png) no-repeat center center;
        background-size: cover;
        animation: clipReveal 0.44s forwards;
        animation-delay: 0.3s;
        opacity: 0;
      }

      &.doodledapp-new {
        background-color: $doodledapp-color;
        background: url(/products/doodledapp/doodledapp-new.png) no-repeat center center;
        background-size: cover;
        animation: clipReveal 0.44s forwards;
        animation-delay: 0.6s;
        opacity: 0;
      }

      &.ultra-show {
        background-color: $ultra-color;
        background: url(/products/ultra/ultra-show.png) no-repeat center center;
        background-size: cover;
        animation: clipReveal 0.44s forwards;
        animation-delay: 0.3s;
        opacity: 0;
      }

      &.ultra-devdocs {
        background-color: $ultra-color;
        background: url(/products/ultra/ultra-devdocs.png) no-repeat center center;
        background-size: cover;
        animation: clipReveal 0.44s forwards;
        animation-delay: 0.6s;
        opacity: 0;
      }

      &.fff-show {
        background-color: $ultra-color;
        background: url(/products/food-for-future/fff-show.png) no-repeat center center;
        background-size: cover;
        animation: clipReveal 0.44s forwards;
        animation-delay: 0.3s;
        opacity: 0;
      }

      &.fff-new {
        background-color: $ultra-color;
        background: url(/products/food-for-future/fff-new.png) no-repeat center center;
        background-size: cover;
        animation: clipReveal 0.44s forwards;
        animation-delay: 0.6s;
        opacity: 0;
      }

      &.telos-show {
        background-color: $ultra-color;
        background: url(/products/telos/telos-show.png) no-repeat center center;
        background-size: cover;
        animation: clipReveal 0.44s forwards;
        animation-delay: 0.3s;
        opacity: 0;
      }

      &.telos-new {
        background-color: $ultra-color;
        background: url(/products/telos/telos-new.png) no-repeat center center;
        background-size: cover;
        animation: clipReveal 0.44s forwards;
        animation-delay: 0.6s;
        opacity: 0;
      }

    }
  }

  .product-intro {
    width: 50%;
    height: 100%;
    animation: clipReveal 0.44s forwards;
    animation-delay: 0.1s;
    opacity: 0;

    @media (max-width: 768px) {
      width: 100%;
      height: initial;
    }

    .product-intro-brand {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      @media (max-width: 768px) {
        width: 100%;
        height: calc(100vh - 92px);
      }

      &.scatter {
        background-color: $scatter-color;
      }

      &.doodledapp {
        background-color: $doodledapp-color;
      }

      &.ultra {
        background-color: $ultra-color;
      }

      &.fff {
        background-color: $fff-color;
      }

      &.telos {
        background-color: $telos-color;
      }
    }
  }
}

.product-page {
  width: 100%;
  min-height: 800px;
  padding: $spacing-md;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.role {
  color: $white;
  
  span {
    font-size: $font-size-lg;
    height: 34px;
    background-color: $blue;
    border-radius: $br-sm;
    padding: 0 $spacing-sm;
    line-height: 34px;
  }
}